* {
    font-family: 'Nunito', sans-serif;
}

/*
#2BC016
#26A96C
#32936F
#387D7A
#395E66
*/

#app {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgreen;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #286428a8;
    box-shadow: 1px 1px 5px #286428a8;
}

h1 {
    height: 100%;
    margin: 0 15px
}