* {
    font-family: 'Nunito', sans-serif;
}

body {
    animation: slide-in-from-right 0.45s;
    animation-play-state: running;
    background-color: lightgreen;
    height: 100%;
    width: 100%;
    margin: 0;
}

@keyframes slide-in-from-right {
    from {
        transform: translateX(700px)
    }
    to {
        transform: translateX(0px)
    }
}

/*
#2BC016
#26A96C
#32936F
#387D7A
#395E66
*/

#app {
    margin: 0;
    padding: 0px;
    width: 100%;
}

#login-signup-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#username-and-email {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 25%;
}

#username-and-email > * {
    margin-top: 10px;
}

header {
    max-width: 100%;
    padding: 10px;
    background-color: #286428a8;
    box-shadow: 1px 1px 5px #286428a8;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-evenly;
}

header > * {
    height: 100%;
    margin: 0px 10px;
}

header > .pagination {
    flex: 3;
    margin: 5px;
    padding: 5px 12px;
    max-width: fit-content;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

header > .pagination:active {
    transform: translateY(1px)
}

.pagination:hover {
    transform: scale(1.1, 1.1);
    transition: 0.1s;
}

#day-component {
    padding: 10px 50px;
    width: fit-content;
}

#day-component > h3 {
    border: 1px solid black;
    width: fit-content;
    padding: 4px 10px;
    border-radius: 5px;
}

select {
    font-size: 20px;
    border: 1px solid black;
    width: fit-content;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: lightgreen;
    outline: none;
}

.plant {
    margin: 10px;
    animation: plant-slide 0.2s;
    animation-play-state: running;
}

.plant.needs-water {
    text-decoration: none;
}

.plant.needs-no-water {
    text-decoration: line-through;
}

#no-plants {
    animation: plant-slide 0.2s;
    animation-play-state: running;
}

.plant:hover {
    transform: translateX(7px);
    transition: 0.1s;
}

.selected-week-container {
    display: flex;
    justify-content: space-evenly;
}

#week-of {
    text-align: center;
}

.small-plant-list > h4 {
    width: fit-content;
    padding: 4px 10px;
}

.small-plant-list > #plant-list-container > .plant, .small-plant-list > #plant-list-container > #no-plants {
    font-size: 12px;
    margin: 7px;
}

@keyframes plant-slide {
    from {
        transform: translateX(20px)
    }
    to {
        transform: translateX(0px)
    }
}

@media only screen and (max-width: 600px) {
    header > h1 {
        display: none;
    }
    .selected-week-container {
        flex-wrap: wrap;
    }
}
