* {
    font-family: 'Nunito', sans-serif;
}

body {
    animation: slide-in-from-right 0.45s;
    animation-play-state: running;
    background-color: #5ada5aa8;
    height: 100%;
    width: 100%;
    margin: 0;
}

@keyframes slide-in-from-right {
    from {
        transform: translateX(700px)
    }
    to {
        transform: translateX(0px)
    }
}

/*
#2BC016
#26A96C
#32936F
#387D7A
#395E66
*/

#app {
    margin: 0;
    padding: 0px;
}

.form-container {
    position: absolute;
    top: 10vh;
    left: 50%;
    margin-left: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    animation: slide-in-from-right 0.2s;
    animation-play-state: running;
    z-index: 1;
    background-color: rgb(120, 194, 120);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px black;
    -moz-box-shadow: 1px 1px 5px black;
    box-shadow: 1px 1px 5px black;
}

#add-plant-modal {
    -webkit-box-shadow: 10px 10px 25px black;
    -moz-box-shadow: 10px 10px 25px black;
    box-shadow: 10px 10px 25px black;
}

#add-plant-modal > form {
    background-color: lightgreen;
}

form > h2 {
    margin-top: -5px;
}

label {
    margin-top: 15px;
}

input {
    outline: none;
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
}

#water-after-input > input {
    max-width: 20px;
    padding: 3px 0px 3px 5px;
}

form > button {
    margin-top: 20px;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    outline: none;
}

form > button:hover {
    background-color: white;
    transform: scale(1.1, 1.1)
}

.error-input {
    border: 1px solid red;
}

.error-msg {
    color: red;
}

#method-option {
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
}

#method-option:hover {
    transform: scale(1.1, 1.1)
}

.hide-modal {
    position: absolute;
    text-align: center;
    padding: 0px;
    top: 10px;
    right: 10px;
    width: 25px;
}

#navbar {
    max-width: 100%;
    padding: 10px;
    background-color: lightgreen;
    box-shadow: 1px 1px 5px #286428a8;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

#navbar > h1 {
    margin: 0 auto;
}

.nav-item {
    height: 100%;
    margin: 0px 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    background-color: rgba(144, 238, 144, 0.747);
    cursor: pointer;
    color: black;
}

.nav-item:hover {
    background-color: lightgreen;
}

a {
    text-decoration: none;
}

#my-plants-container {
    padding: 0 20px;
}

#add-plant-button {
    position: fixed;
    top: 95px;
    right: 35px;
    font-size: 13px;
}

.plant-card {
    margin: 10px;
    padding: 10px;
    background-color: #28642828;
    display: flex;
    align-items: center;
}

.plant-card > * {
    margin: 0 10px;
}

.plant-card > .edit-details {
    font-size: 13px;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1, 1.1)
}



#schedule-container {
    padding: 0 20px;
}

/* * * * * * */

#day-component {
    padding: 10px 50px;
    width: fit-content;
}

#day-component > h3 {
    border: 1px solid black;
    width: fit-content;
    padding: 4px 10px;
    border-radius: 5px;
}

select {
    font-size: 20px;
    border: 1px solid black;
    width: fit-content;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: lightgreen;
    outline: none;
}

.plant {
    margin: 10px;
    animation: plant-slide 0.2s;
    animation-play-state: running;
}

.plant.needs-water {
    text-decoration: none;
}

.plant.needs-no-water {
    text-decoration: line-through;
}

#no-plants {
    animation: plant-slide 0.2s;
    animation-play-state: running;
}

.plant:hover {
    transform: translateX(7px);
    transition: 0.1s;
}

.selected-week-container {
    display: flex;
    justify-content: space-evenly;
}

#week-of {
    text-align: center;
}

.small-plant-list > h4 {
    width: fit-content;
    padding: 4px 10px;
}

.small-plant-list > #plant-list-container > .plant, .small-plant-list > #plant-list-container > #no-plants {
    font-size: 12px;
    margin: 7px;
}

@keyframes plant-slide {
    from {
        transform: translateX(20px)
    }
    to {
        transform: translateX(0px)
    }
}

@media only screen and (max-width: 600px) {
    #navbar > h1 {
        display: none;
    }
    .selected-week-container {
        flex-wrap: wrap;
    }
}
